{% extends 'store/index.html'%}
{% load static %}

{% block content%}
    <div class="row">
        {% for new in news %}
        <div class="col-lg-4">
            <div class="card" >
                  <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="Card image">
                  <div class="card-img-overlay">
                      <h4 class="card-title text-white">{{ new.name }}</h4>
                      <p class="card-text m-width text-white" style="max-width:50">{{ new.main}}</p>
                      <a href="{% url 'cart' new.name %}" class="btn btn-primary">More</a>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content%}